In [1]:
import os
import pandas as pd 
import numpy as np

In [2]:
train = pd.read_csv('./数据集/科创企业成长潜力模型/label/train_2.csv')
train.rename(columns={'label':'Y'}, inplace = True)
test = pd.read_csv('./数据集/科创企业成长潜力模型/upload.csv')

data_all = pd.concat((train[['ID','Y']],test[['ID','Y']]))

In [3]:
data_all

               ID    Y
0    corp_1001749  0.0
1    corp_1001231  0.0
2    corp_1004522  0.0
3    corp_1001738  1.0
4    corp_1003948  1.0
..            ...  ...
517  corp_1000552  NaN
518  corp_1001079  NaN
519  corp_1004730  NaN
520  corp_1000350  NaN
521  corp_1002156  NaN

[5022 rows x 2 columns]

In [4]:
folder_path = './数据集/科创企业成长潜力模型/data'  # 替换为你的文件夹路径
excel_files = [file for file in os.listdir(folder_path) if file.endswith('.xlsx') and '荣誉' in file]

In [5]:
len(excel_files)

5

In [6]:
excel_files

['人才荣誉标签_优秀民营企业家.xlsx',
 '人才荣誉标签_国家万人计划.xlsx',
 '人才荣誉标签_政府评定其他类型人才榜单.xlsx',
 '人才荣誉标签_领军人才计划.xlsx',
 '荣誉标签_创客中国奖项.xlsx']

In [7]:
df1 = pd.read_excel('./数据集/科创企业成长潜力模型/data/'+excel_files[0],index_col=0)
df1.rename(columns={'企业名称':'ID','姓名':'优秀民营企业家_姓名'}, inplace = True)
df1 = df1.groupby(['ID']).agg({'优秀民营企业家_姓名':'nunique'}).reset_index().fillna(0)
data_all = data_all.merge(df1,on='ID',how='left')

In [8]:
df2 = pd.read_excel('./数据集/科创企业成长潜力模型/data/'+excel_files[1],index_col=0)
df2.rename(columns={'企业名称':'ID','姓名':'国家万人计划_姓名'}, inplace = True)
df2 = df2.groupby(['ID']).agg({'国家万人计划_姓名':'nunique'}).reset_index().fillna(0)
data_all = data_all.merge(df2,on='ID',how='left')

In [9]:
df3 = pd.read_excel('./数据集/科创企业成长潜力模型/data/'+excel_files[2],index_col=0)
df3.rename(columns={'公司名':'ID','姓名':'政府评定其他类型人才榜单_姓名'}, inplace = True)
df3['发布日期'] = pd.to_datetime(df3['发布日期'])
df3 = df3[df3['发布日期'] > '2015-01-01']
df3 = df3.groupby(['ID']).agg({'政府评定其他类型人才榜单_姓名':'nunique'}).reset_index().fillna(0)
data_all = data_all.merge(df3,on='ID',how='left')

In [10]:
df4 = pd.read_excel('./数据集/科创企业成长潜力模型/data/'+excel_files[3],index_col=0)
df4.rename(columns={'企业名称':'ID','姓名':'领军人才计划_姓名'}, inplace = True)
df4 = df4.groupby(['ID']).agg({'领军人才计划_姓名':'nunique'}).reset_index().fillna(0)
data_all = data_all.merge(df4,on='ID',how='left')

In [12]:
df5 = pd.read_excel('./数据集/科创企业成长潜力模型/data/'+excel_files[4],index_col=0)
df5.rename(columns={'企业名称':'ID','奖项等级':'创客中国奖项_奖项等级'}, inplace = True)
df5['创客中国奖项_奖项等级'] = df5['创客中国奖项_奖项等级'].map({'其他奖': 1, '三等奖': 2, '二等奖': 3, '一等奖': 4})
df5 = df5.groupby(['ID']).agg({'创客中国奖项_奖项等级':'sum'}).reset_index().fillna(0)
data_all = data_all.merge(df5,on='ID',how='left')

In [13]:
data_all

,ID,Y,优秀民营企业家_姓名,国家万人计划_姓名,政府评定其他类型人才榜单_姓名,领军人才计划_姓名,创客中国奖项_奖项等级
0,corp_1001749,0.0,NaN,NaN,NaN,NaN,NaN
1,corp_1001231,0.0,NaN,NaN,NaN,NaN,NaN
2,corp_1004522,0.0,NaN,NaN,NaN,NaN,NaN
3,corp_1001738,1.0,NaN,NaN,NaN,NaN,NaN
4,corp_1003948,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5017,corp_1000552,NaN,NaN,NaN,1.0,NaN,NaN
5018,corp_1001079,NaN,NaN,NaN,NaN,NaN,NaN
5019,corp_1004730,NaN,NaN,NaN,NaN,NaN,NaN
5020,corp_1000350,NaN,NaN,NaN,NaN,NaN,NaN
5021,corp_1002156,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data_all.to_csv('honor.csv',index=0)